@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --theme-color: #21063e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #f8f8fa;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  background: #f8f8fa;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .app {
    width: 96%;
  }
}

@media (max-width: 600px) {
  .app {
    width: 100%;
    padding: 0 2vw;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
